@import '~react-simple-crop/dist/style.scss';

.app {
  align-items: center;
  height: 400rem;  // Increase the page height to demonstrate scroll disabling on mobile.
  display: flex;
  flex-direction: column;
}

.crop {
  display: flex;
  justify-content: center;
  padding: 3rem;
  width: 100%;
}

