$responsive-breakpoint: 768px;

$crop-border-width: 1px;
$crop-border-color: #000000;
$crop-box-shadow-color: rgba(0, 0, 0, 0.6);

$handle-size-mobile: 1rem;
$handle-size-desktop: 0.7rem;
$handle-background-color: #ffffff;
$handle-border-color: #000000;

.ReactSimpleCrop {
  &__inner-container {
    display: inline-block;
    touch-action: none;
    position: relative;
    overflow: hidden;
  }

  &__image {
    cursor: crosshair;
    display: block;
    max-width: 100%;
  }

  &__crop {
    border: $crop-border-width solid $crop-border-color;
    box-shadow: 0 0 0 9999rem $crop-box-shadow-color;
    cursor: move;
    display: block;
    position: absolute;
    z-index: 1;
  }

  &__handle {
    background: $handle-background-color;
    border: $crop-border-width solid $handle-border-color;
    border-radius: 50%;
    height: $handle-size-mobile;
    position: absolute;
    width: $handle-size-mobile;

    &--n {
      cursor: n-resize;
    }

    &--ne {
      cursor: ne-resize;
    }

    &--e {
      cursor: e-resize;
    }

    &--se {
      cursor: se-resize;
    }

    &--s {
      cursor: s-resize;
    }

    &--sw {
      cursor: sw-resize;
    }

    &--w {
      cursor: w-resize;
    }

    &--nw {
      cursor: nw-resize;
    }

    &--n {
      left: calc(50% - #{$handle-size-mobile} / 2);
    }

    &--e {
      top: calc(50% - #{$handle-size-mobile} / 2);
    }

    &--s {
      left: calc(50% - #{$handle-size-mobile} / 2);
    }

    &--w {
      top: calc(50% - #{$handle-size-mobile} / 2);
    }

    &--n,
    &--nw,
    &--ne {
      top: calc(#{$handle-size-mobile} / -2 - #{$crop-border-width});
    }

    &--e,
    &--ne,
    &--se {
      right: calc(#{$handle-size-mobile} / -2 - #{$crop-border-width});
    }

    &--s,
    &--se,
    &--sw {
      bottom: calc(#{$handle-size-mobile} / -2 - #{$crop-border-width});
    }

    &--w,
    &--sw,
    &--nw {
      left: calc(#{$handle-size-mobile} / -2 - #{$crop-border-width});
    }

    @media (min-width: $responsive-breakpoint) {
      height: $handle-size-desktop;
      width: $handle-size-desktop;

      &--n {
        left: calc(50% - #{$handle-size-desktop} / 2);
      }

      &--e {
        top: calc(50% - #{$handle-size-desktop} / 2);
      }

      &--s {
        left: calc(50% - #{$handle-size-desktop} / 2);
      }

      &--w {
        top: calc(50% - #{$handle-size-desktop} / 2);
      }

      &--n,
      &--nw,
      &--ne {
        top: calc(#{$handle-size-desktop} / -2 - #{$crop-border-width});
      }

      &--e,
      &--ne,
      &--se {
        right: calc(#{$handle-size-desktop} / -2 - #{$crop-border-width});
      }

      &--s,
      &--se,
      &--sw {
        bottom: calc(#{$handle-size-desktop} / -2 - #{$crop-border-width});
      }

      &--w,
      &--sw,
      &--nw {
        left: calc(#{$handle-size-desktop} / -2 - #{$crop-border-width});
      }
    }
  }
}
